scikit-learn
flask
pandas
pillow
Click
Flask
Flask-SocketIO
gunicorn
itsdangerous
Jinja2
MarkupSafe
torch
http://download.pytorch.org/whl/cpu/torch-0.4.1-cp36-cp36m-linux_x86_64.whl
torchvision
Werkzeug